<a href="https://colab.research.google.com/github/2303A51750/datamining/blob/main/Assignment(2_5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
df=pd.read_csv("/content/student-dataset.csv")
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5         3.7             3.1
1     34.39    -118.54      M   22            2.9         3.2             3.6
2     37.80    -122.27      F   22            3.9         3.8             3.2
3     37.69    -122.09      F   20            3.3         2.8             NaN
4    -23.18     -45.88      F   21            3.7         2.6             3.4

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

In [14]:
median_sciences_grade = df['sciences.grade'].median()
df['sciences.grade_median'] = df['sciences.grade'].fillna(median_sciences_grade)
print("Median Science Grade:", median_sciences_grade)
print(df.head())

Median Science Grade: 3.6
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22            3.5         3.7             3.1
1     34.39    -118.54      M   22            2.9         3.2             3.6
2     37.80    -122.27      F   22            3.9         3.8             3.2
3     37.69    -122.09      F   20            3.3         2.8             NaN
4    -23.18     -45.88      F   21            3.7         2.6             3.4

   language.grade  portfolio.rating  coverletter.rating  refletter.rating  \
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

   sciences.grade_median
0                    3.1
1                    3.6
2                    3.2
3                    3.6
4                    3.4

In [20]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler
data = df.select_dtypes(include=np.number)
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(data)
print("Normalized Data (Min-Max Scaling):")
print(normalized_data)

Normalized Data (Min-Max Scaling):
[[0.         0.69380759 0.92722915 ... 0.75       0.75       0.75      ]
 [0.00326797 0.72680523 0.01746044 ... 1.         0.75       1.        ]
 [0.00653595 0.76333833 0.00327145 ... 0.5        0.5        0.75      ]
 ...
 [0.99346405 0.72316263 0.01860164 ... 1.         1.         0.5       ]
 [0.99673203 0.76333833 0.00327145 ... 0.75       0.75       1.        ]
 [1.         0.8262267  0.16627358 ... 1.         0.75       1.        ]]